@import url(global.css);

/* Header */
header{
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 46px 0px;
    gap: 139px;
    border-bottom: 2px solid var(--color-secondary);
}

.container-nav-header{
    display: flex;
    align-items: center;
    gap: 70px;
}

.navigation-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
    color: var(--color-white);
}

.btn-header{
    font-family: var(--font-primary);
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: var(--font-weight-button);
}

/* MAIN */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
    background-color: var(--color-secondary);
}


.main-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 497px;

}

.main-content h1{
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    font-family: var(--font-family-primary);
    color: var(--color-neutral-white);
    color: var(--color-white);
}

.main-content h1 span{
    color: var(--color-primary);
}

.main-content p{
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    font-family: var(--font-primary);
    color: var(--color-white);
}

.main-content a{
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 25px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    text-decoration: none;
    font-weight: var(--font-weight-button);
    font-family: var(--font-family-primary);
    align-self: flex-start;
}

/* SECTION CONTROL */
.section-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0;
    width: 1280px;
    height: 674px;
    margin-left: 150px;
    font-family: var(--font-primary);
}

.control-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 570px;
}

.control-content h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    font-family: var(--font-primary);
}

.control-content h2 span{
    color: var(--color-primary);
}

.control-content{
    font-family: var(--font-primary);
}

/* GRAfICO */
.section-chart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 0px;
    gap: 24px;
    background-color: var(--color-secondary);
}

.chart-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--color-neutral-white);
    width: 730px;
    gap: 16px;
}
.chart-content h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    font-family: var(--font-family-primary);
    height: 54px;
    color: var(--color-white);
}

.chart-content h2 span{
    color: var(--color-primary);
}

.chart-content p{
    color: var(--color-white);
}